@import 'tailwindcss';

@layer base {
  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply mb-1 rounded border border-indigo-600 bg-white px-4 py-2 font-light text-indigo-700 uppercase caret-indigo-600 transition-all duration-150 ease-linear outline-none placeholder:text-gray-500 focus:border-indigo-800 focus:ring-2 focus:ring-indigo-400 focus:ring-offset-2;
  }
  [type='button'] {
    @apply mb-1 flex justify-center rounded border border-indigo-900 bg-indigo-600 px-4 py-2 text-2xl font-extrabold tracking-tight text-white uppercase transition-all duration-150 ease-linear outline-none hover:border-indigo-600 hover:bg-violet-100 hover:text-indigo-500 focus:ring-4 focus:ring-indigo-400 focus:ring-offset-2 active:bg-indigo-600 disabled:opacity-20;
  }
  [type='back-button'] {
    @apply relative z-10 mt-6 mb-1 rounded border border-gray-700 bg-gray-600 px-4 py-2 text-xl font-bold tracking-tight text-white uppercase shadow transition-all duration-150 ease-linear outline-none hover:border-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:ring-4 focus:ring-gray-400 focus:ring-offset-2;
  }
  code {
    @apply border bg-gray-100 px-2 font-light text-gray-700;
  }
  a {
    @apply text-indigo-600 hover:text-indigo-900;
  }
  progress[value]::-webkit-progress-bar {
    @apply rounded-full border bg-gray-50;
  }
  progress[value]::-webkit-progress-value {
    @apply rounded-full bg-linear-to-r from-indigo-900 via-indigo-400 to-pink-400;
  }
  h1 {
    @apply text-5xl font-black tracking-tight select-none;
  }
  h2 {
    @apply my-6 text-4xl font-extrabold tracking-tight text-gray-900 select-none;
  }
  h3 {
    @apply my-5 text-3xl font-extrabold tracking-tight text-gray-800 select-none;
  }
  p,
  summary,
  li,
  pre {
    @apply mb-6 text-lg font-medium text-gray-800;
  }
  label {
    @apply font-extrabold tracking-tight text-gray-600;
  }
  #drag {
    @apply cursor-grab;
    -webkit-app-region: drag;
  }
}
